.side-menu {
  width: 250px;
  background-color: #001529;
  position: relative;
  transition: width 0.4s ease;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-menu.collapsed {
  width: 80px;
}

/* Scrollable Menu */
.menu-container {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 140px);
}

/* Custom Scrollbar */
.menu-container::-webkit-scrollbar {
  width: 5px;
}

.menu-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.admin-section {
  text-align: center;
  margin: 10px 0;
}

.admin-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.admin-name {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: white;
}

@media (max-width: 992px) {
  .side-menu {
    width: 100%;
    min-height: auto;
    height: auto;
  }

  .side-menu.collapsed {
    width: 100%;
  }

  .menu-container {
    max-height: none;
  }
}
